.fonctionnementCards_container {
    width: calc(100% - 12px);
    padding: 25px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    @media screen and (min-width: 1025px) {
      width: 31%;
    }
    &::before {
      content: counter(item);
      counter-increment: item;
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: rgba(147, 86, 220, 1);
      font-family: Roboto;
      font-weight: 500;
      font-size: 14px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 10px;
      font-size: 16px;
      font-weight: 500;
      margin-right: 30px;
      @media screen and (min-width: 1025px) {
        margin-right: 0;

      }
    }
    i {
      display: flex;
      align-items: center;
      margin-right: 10px;
      text-align: center;
    }
    .fa-mobile-screen-button {
      width: 13px;
      height: 20px;
    }
    .fa-mobile-screen-button,
    .fa-list {
      color: #7e7e7e;
    }
    .fa-store {
      height: 18px;
      color: #9356dc;
    }
  }