header {
  position: relative;
    text-align: center;
    background-color: #ffffff;
    a{
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      .fa-arrow-left {
        font-size: 16px;
        color: black;
      }
    }
      .logo {
        width: 200px;
        height: 100%;
        margin: 30px 0 30px 0;
      }
  }